<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center">
        <img ngSrc="/assets/slime.png" width="150" height="150" priority />
        <h2 class="mat-headline-large" style="text-align: center;">Welcome, slime!</h2>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="d-flex flex-column" [style.width]="formWidth">
        <mat-form-field appearance="outline">
            <mat-label>Email or username</mat-label>
            <input matInput type="text" formControlName="account" />
        </mat-form-field>
        <mat-form-field appearance="outline" appCapsLockDetect (capsLockState)="capsLockState = $event">
            <mat-label>Password</mat-label>
            <input matInput [type]="showPassword() ? 'text' : 'password'" formControlName="password" />
            <button mat-icon-button matSuffix type="button" (click)="togglePassword($event)"
                [attr.aria-label]="'Toggle password'" [attr.aria-pressed]="showPassword()">
                <mat-icon>{{showPassword() ? 'visibility' : 'visibility_off'}}</mat-icon>
            </button>
            @if (capsLockState) {
            <mat-hint>
                <mat-icon aria-hidden="false" aria-label="Capslock icon" fontIcon="lock"></mat-icon>
                Your capslock is ON
            </mat-hint>
            }

        </mat-form-field>
        <div class="d-flex justify-content-between" style="margin-bottom: 20px;">
            <mat-checkbox formControlName="keepLogin">I want to stay forever!</mat-checkbox>
            <a routerLink="/" style="line-height: 38px; font-style: italic;">Forgot who you are?</a>
        </div>
        <div class="d-flex" style="gap: 10px;">
            <button mat-flat-button type="submit" class="w-100">Let me in!</button>
            <button mat-stroked-button type="button" routerLink="/signup" class="w-100">My first time here</button>
        </div>
    </form>
</div>